body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
p {
    font-size: 1em;
    line-height: 1.5;
    margin: 10px 0;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.weather-icon {
    width: 100px;
    height: 100px;
}

.temperature {
    font-size: 3em;
    margin: 20px 0;
}

.details {
    font-size: 1.2em;
}

.footer {
    margin-top: 20px;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.7);
}